.chat {
    padding: 10px;
}

.user-datetime {
    display: inline-block;
    width: 150px;
    border-right: 1px solid grey;
}

.user-name-item {
    display: inline-block;
    width: 200px;
    border-right: 1px solid grey;
    padding-left: 10px;
}

.user-message-item {
    display: inline-block;
    width: 850px;
    padding-left: 10px;
}