.add-message-block {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px 10px;
    border-top: 1px solid grey;
    background-color: darkcyan;
}

.user-name {
    width: 200px;
    height: 30px;
    border: none;
    padding: 0 7px;
}

.user-message {
    width: 400px;
    height: 30px;
    margin-left: 20px;
    border: none;
    padding: 0 7px;
}

.send-message {
    width: 200px;
    height: 28px;
    background-color: orangered;
    margin-left: 20px;
    border: none;
    font-weight: 600;
    color: #fff;
}